/.env
/LICENSE
/README.md
/build
/dump.sql
/flyway

# Docker
/.dockerignore
/Dockerfile
/docker-compose.yml

# Git
/.git
/.gitignore

# GitHub
/.github

# JetBrains
/.idea

# Node.js
/node_modules

# Prettier
/.prettierignore
